.accordion {
  background-color: 	#FF355E;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #FD5B78;
}


.panel {
  padding: 0 18px;
  background-color: #1b1b1b;
  color: #fff;
  display: none;
  overflow: hidden;
}
