
div {
  font-family: 'Roboto', sans-serif;
}
body {

background-image: url("../img/heroimage1.png");
  background-color: #1b1b1b;
  -height: 500px;
  background-position: center;
  background-repeat:no-repeat;
  background-size: cover;
  background-attachment: fixed;
  -position: relative;
  color:white;
}
nav{
  position: fixed;
  width: 100%;
  z-index: 1;
}

.container{
  padding-top: 100px;
  z-index: 0;
}


#demo{
  padding: 10px;
}
#standaardtekst{
  padding: 10px;
}

.imagescontainer{
  display:flex;
  flex-flow: row wrap;
}

.img1{
  order:1;
  flex: 50%;
}

.img2{
  order:2;
  flex: 50%;
}

.kopje{
  display: flex;
  flex-wrap:wrap;
}
.kop1{
  padding: 20px 40px;
}

.kop2{
  padding: 20px 40px;
}

#test{
  text-align: center;

  font-family: 'Montserrat', sans-serif;
  color: #5F5F5F;
  font-size: 30px;
background-color: #A0E6FF;
width:26%;
}
#test #temp{
  font-weight: bold;
  font-size: 80px;
  color: white;
}

.beschrijving{
  padding-bottom:10px;
}
#myImg{
  visibility: hidden;
}
p{
  width: 50%;
  font-size: 18px;
  padding-top: 10px;
}
.levels img {
  height: 60%;
  width: 60%;
}
.levels{
  margin-bottom:30px;
}
.kopjes{
  margin-bottom: 30px;

}
.kopjes img{
  height: auto;
  width: auto;
}

h1{
  margin-bottom: 10px;
  font-size: 30px;
}
 ul{
  display: flex;
  justify-content: center;
  height: auto;
  overflow: hidden;
  width: 100%;
  list-style: none;


  background: rgba(255, 255, 255, 0.8);
  margin: 0px auto 45px;
  color: #FF355E;
}

ul li{
  padding: 15px 20px;
  width: auto;
  height: auto;
  float: left;
  cursor: pointer;
  font-weight: bold;
}



}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 15px;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #FF355E;
  z-index: 0;
}

.container-image:hover .overlay {
  opacity: 0.5;
}


 .row img{
  margin-bottom: 30px;
  width: 100%;
}
.row a{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
#result{
  z-index: 10;
  background: white;
}
