@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
    background:  #1B1B1B;
}


nav {
  width:100%;
  text-align:center;
  font-size: 2em;
}

li {
  float: left;
  position: relative;
  display: block;
}

li:after {
  color:grey;
   content: '|';
  position: absolute;
  top: 2.3em;
  right: 0;
  z-index: 10;
}

li:last-child:after {
  content: none;
}

a {
  color: white;
  position: relative;
  display: inline-block;
  text-decoration: none;
  transition: .3s;
  line-height: 2em;
  padding: 2em;
}

li.sample > a,
li > a:hover {
  background-color: transparent;
  color: #8c8c8c;
}

li > a:after {
  content: '';
  position: absolute;
  bottom: 1.5em;
  left: 15%;
  width: 70%;
  height: 5px;
  transform: scaleX(0);
  background-color: #FF355E;
  transition: all .2s ease;
  
}


li.sample > a:after,
li > a:hover::after {
  transform: scaleX(1);
}


}
